.map{
    height: 870px;
    width: 100%;
    border: 1px solid #ccc;
    margin: auto;
    margin-right: 0;
    position: relative;
    background: #fff;
    border-radius: 6px;
}
.cage-box{
    position: absolute;
    height: 300px;
    width: 335px;
    border: 1px solid #444;
}
.cage-box.box-A{
    left: 65px;
    top: -5px;
}
.cage-box.box-B{
    right: 65px;
    top: -5px;
}
.cage-box.box-C{
    left: 65px;
    top: 460px;
}
.cage-box.box-D{
    right: 65px;
    top: 460px;
}
.note{
    width: 100%;
    background: #fff;
    height: 870px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}
.list-note{
    border-bottom: 1px solid #dedede;
    padding: 10px;
}
.list-note p{
    margin: 0;
}
