*{
  margin: 0;
  padding: 0;
  font-size: 13px;
}
body,html{
  height: 100%;
  width: 100%;
}
.mgt10{
  margin-top: 10px;
}
.pdt10{
  padding-top: 10px;
}
.opacity0{
  opacity: 0;
}
.pd0{
  padding: 0;
}
.mg0{
  margin: 0;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}